body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    color:brown;
}
p{
    text-align: justify;
}
.box{
    color: orange;
}
section{
    display:flex;
    margin-bottom: 150px;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width:80%;
}
.link-button{
   background-image: linear-gradient(#f19f07, tomato);
    color:black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
